library/key: https://github.com/AnalyzePlatypus/TranslitKit

dictionary: https://github.com/vinagrito/pealim

frequency list: https://www.teachmehebrew.com/hebrew-frequency-list.html

regex: https://careerkarma.com/blog/python-regex/ ; https://www.computerhope.com/jargon/r/regex.htm ; https://regexr.com/