<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Shamati</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
  </head>

  <body id="app">
    
    <table>
      <tr>
        <td><button value="" v-model="string"> </button><td>
        <td><button value="'" v-model="string">'</button><td>
        <td><button value="a" v-model="string">a</button><td>
        <td><button>ah</button><td>
        <td><button>ai</button><td>
        <td><button>av</button><td>
        <td><button>ay</button><td>
        <td><button>ach</button><td>
        <td><button>akh</button><td>
        <td><button>b</button><td>
        <td><button>c</button><td>
        <td><button>ch</button><td>
        <td><button>ck</button><td>
        <td><button>d</button><td>
        <td><button>e</button><td>
        <td><button>ei</button><td>
        <td><button>eh</button><td>
        <td><button>ev</button><td>
      </tr>
      <tr>
        <td><button>f</button></td>
        <td><button>g</button></td>
        <td><button>h</button></td>
        <td><button>i</button></td>
        <td><button>i</button></td>
        <td><button>izz</button></td>
        <td><button>j</button></td>
        <td><button>k</button></td>
        <td><button>kh</button></td>
        <td><button>l</button></td>
        <td><button>m</button></td>
        <td><button>n</button></td>
        <td><button>o</button></td>
        <td><button>oh</button></td>
        <td><button>oo</button></td>
        <td><button>ou</button></td>
        <td><button>p</button></td>
        <td><button>ph</button></td>
      </tr>
      <tr>
        <td><button>q</button></td>
        <td><button>r</button></td>
        <td><button>s</button></td>
        <td><button>sh</button></td>
        <td><button>sch</button></td>
        <td><button>t</button></td>
        <td><button>ts</button></td>
        <td><button>tz</button></td>
        <td><button>u</button></td>
        <td><button>v</button></td>
        <td><button>va</button></td>
        <td><button>ve</button></td>
        <td><button>w</button></td>
        <td><button>wa</button></td>
        <td><button>wo</button></td>
        <td><button>wu</button></td>
        <td><button>y</button></td>
        <td><button>z</button></td>
      </tr>
    </table>
    <p>{{ string }}</p>
    <button @click="search">search</button

    <footer class='absolute bottom-0'>&copy; 2021 Shamati</footer>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          results: [],
          string: 'something'
          },
        },
        methods: {
          click: function() {
            this.string.append(value)
            console.log(this.string)
          },
          search: function() {
            
          }
        }

    })
    </script>
    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }
    </script>

</body>
</html>