<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Shamati</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href='/static/style.css' rel='stylesheet' type='text/css'>
  </head>

  <body id="app">
    <div class='flex flex-row justify-even'>
      <nav class="flex flex-col max-w-xs justify-start"> 
        <button type="button" class="collapsible text-left ml-3">About</button>
          <div class="content">
            <p class="text-left">Hear a Hebrew word that you're just not quite sure about? Let Shamati, the Fuzzy Hebrew Dictionary, help you out! Simply  type out phonetically the sounds you heard (in English/Latin script), and possible Hebrew words will result below.</p>
          </div>
        <button type="button" class="collapsible text-left ml-3">Contact</button>
          <div class="content">

            <div class="container">
              <form action="/action_page.php">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Name"><br>

                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="E-mail"><br>

                <label for="message">Message</label>
                <textarea id="message" name="message" placeholder="Message" style="height:200px"></textarea>

                <input type="submit" value="submit">
              </form>
            </div>

            </form>
          </div>
        </nav>
        <header class='flex flex-col text-right'>
        <h1 class='text-6xl mt-5 mr-4'>Shamati</h1>
        <h4 class='mr-7'>The Fuzzy Hebrew Dictionary</h4>
        <h2 class='text-6xl mr-40'>שמעתי</h2>
      </header>
      </div>
    
    <div class='text-center'>
      <input type="text" id="latin_input" name="latin_input" placeholder='shalom, kelev, perach...'>
      <button @click="search()">search</button> 
    </div>
    <table v-if="results" class='table-fixed'>
      <tr v-for="result in results">
        <td>[[ words.word ]]</td>
        <td>[[ words.transliteration ]]</td>
        <td>[[ words.root ]]
        <td>[[ words.partOfSpeech ]]</td>
        <td>[[ words.definition ]]</td>
      </tr>
    <footer class='absolute bottom-0'>&copy; 2021 Shamati</footer>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      const vm = new Vue({
    el: '#app',
    delimiters: ["[[", "]]"],
    data: {
        
        },
    },
    methods: {
        search() {
            axios({
                method: 'get',
                url: '/api_app/',
              }).then((response) => {
                this.result = response.data.result
            })
        },
    }
})
    </script>
    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }
</script>

  </body>
</html>