{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Shamati</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
  </head>

  <body>
    <div id="app">
    {% csrf_token %}    
          <header class='flex flex-col text-right'>
            <h1 class='text-6xl mt-5 mr-4'>Shamati</h1>
            <h4 class='mr-7'>The Fuzzy Hebrew Dictionary</h4>
            <h2 class='text-6xl mr-40'>שמעתי</h2>
          </header>

    <table id="phonemes" class="table-auto">
    <div class="text-center">
      <p>Search for: [[ string ]]<span><button class="bg-green-300 bg-transparent hover:bg-red-200 rounded mx-1 my-3 px-3 py-2" @click="delete_phoneme()">undo</button></span><span><button id="search_btn" class="bg-green-300 hover:bg-green-200 rounded my-3 px-4 py-2" @click="search">search</button></span></p>
    <p>Click letters to spell a word. Click individual letters as much as possible, unless you are sure that a two-/three-letter combination is one Hebrew letter.</p>
    </div>
      <tr>
        <td><button class="btn btn-dark" @click="add_phoneme('')">__</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('\'')">'</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('a')">a</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('ah')">ah</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('ai')">ai</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('au')">au</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('av')">av</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('ay')">ay</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('ach')">ach</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('akh')">akh</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('b')">b</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('c')">c</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('ch')">ch</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('ck')">ck</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('d')">d</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('e')">e</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('ei')">ei</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('eh')">eh</button></td>
      </tr>
      <tr>
        <td><button class="btn btn-dark" @click="add_phoneme('ev')">ev</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('f')">f</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('g')">g</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('h')">h</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('i')">i</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('izz')">izz</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('j')">j/zh</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('k')">k</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('kh')">kh</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('l')">l</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('m')">m</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('n')">n</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('o')">o</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('oh')">oh</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('oo')">oo</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('ou')">ou</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('p')">p</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('ph')">ph</button></td>
      </tr>
      <tr>
        <td><button class="btn btn-dark" @click="add_phoneme('q')">q</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('r')">r</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('s')">s</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('sh')">sh</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('sch')">sch</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('t')">t</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('ts')">ts</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('tz')">tz</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('u')">u</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('v')">v</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('va')">va</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('ve')">ve</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('w')">w</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('wa')">wa</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('wo')">wo</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('wu')">wu</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('y')">y</button></td>
        <td><button class="btn btn-dark" @click="add_phoneme('z')">z</button></td>
      </tr>
    </table>
    <table v-if="results">
      <tr>
        <th class="px-2">Word</th>
        <th class="px-2">Transliteration</th>
        <th class="px-2">Root</th>
        <th class="px-2">Part of Speech</th>
        <th class="px-2">Definition</th>
      </tr>
      <tr v-for="result in results">
        <td>[[ results.word ]]</td>
        <td>[[ results.transliteration ]]</td>
        <td>[[ results.root ]]</td>
        <td>[[ results.partofspeech ]]</td>
        <td>[[ results.definition ]]</td>   
      </tr>
    </table> 
    <footer class='absolute bottom-0 flex flex-row justify-even m-3'>&copy; 2021 Shamati
      <nav class="flex flex-row"> 
          <div class='flex flex-col'>
              <button type="button" class="collapsible flex text-left">About</button>
                <div class="content">
                  <summary class="max-w-sm">Shamati takes a word or combination of sounds that the user hears/heard, typed phonetically in English/Latin script, and offers a list of possible Hebrew words. Code can be found <a href="https://github.com/knizzle/shamati">here</a>.</summary>
                </div>
          </div>
          <div class='flex flex-col'>
              <button type="button" class="collapsible flex text-left max-w-sm">Contact</button>
                <div class="content">
                  <div class="container">
                    <form action="/action_page.php">
                      <label class="p-2 my-1 mr-5" for="name">Name</label>
                      <input class="p-2 my-1" type="text" id="name" name="name" placeholder=" Name"><br>
                      <label class="p-2 my-1 mr-5" for="email">Email</label>
                      <input class="p-2 my-1" type="text" id="email" name="email" placeholder=" E-mail"><br>
                      <label class="p-2 my-1" for="message">Message</label>
                      <textarea class="p-2 my-1" id="message" name="message" placeholder="Message" style="height:200px"></textarea>
                      <input class="p-2 my-1 rounded" type="submit" value="submit">
                    </form>
                  </div>
          </div>
                  
                </div>
            </nav>
    </footer>
</div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
          string: '',
          phonemes: [],
          results: '',
          csrf_token: ''
          },
        methods: {
          add_phoneme: function(phoneme) {
            this.csrf_token = document.querySelector("input[name=csrfmiddlewaretoken]").value
            this.string += phoneme
            this.phonemes.push(phoneme)
            console.log(this.phonemes)
            console.log(this.csrf_token)
          },
          delete_phoneme: function(phoneme) {
            this.phonemes.pop(phoneme)
            this.string = this.string.substring(0, this.string.length-1)
            console.log(this.phonemes)
          },
          search: function(){
            axios({
              method: 'post',
              url: '/api_app/hebstring/',
              headers: {
                'X-CSRFToken': this.csrf_token 
                },
              data: {
                phonemes: this.phonemes
              }
            }).then(response => {
              this.results = response.data
            })            
          },
          mounted: function() {
              this.csrf_token = document.querySelector("input[name=csrfmiddlewaretoken]").value
              {% comment %} <input type="hidden" name="csrfmiddlewaretoken" value="hGy5yHlEh0lTojfdeUKe8NQlKWmrSQlciFR8MMd7mYrJaKMuZVIgF7dXJoR9OkYk"> {% endcomment %}
            }
        }

    })
    </script>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
    </script>
  </body>
</html>